@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "didact gothic";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(
    #fff,
    #4169e1,
    #191970
  );
}

.card {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 300px;
  position: relative;
  background-color: transparent;
  border-radius: 35px;
  box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.75s;
  backdrop-filter: blur(25px);
}

.card:hover {
  height: 425px;
}

.card .img-box {
  position: absolute;
  width: 250px;
  height: auto;
  top: 0px;
  transition: 0.55s;
}

.card:hover .img-box {
  top: -100px;
  scale: 0.75;
  transition: 0.75s;
}

.card .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0px 30px;
  text-align: center;
  height: 30px;
  overflow: hidden;
  transition: 0.55s;
}

.card:hover .content {
  top: 130px;
  height: 325px;
  transition: 0.75s;
}

.card .learn-more {
  background: radial-gradient(
    #6495ed,
    #4169e1,
    #191970
  );
  padding: 10px;
  color: #110149;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
}
